n8n_poetry_appreciation_workflow.json
{
  "name": "诗词鉴赏AI助手",
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "path": "/poetry",
        "responseMode": "onReceived",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        450,
        300
      ],
      "webhookId": "b5a9a3e0-9e1a-4b5e-8e0a-9e1a4b5e8e0a"
    },
    {
      "parameters": {
        "model": "gpt-3.5-turbo",
        "prompt": "请对以下诗词进行专业鉴赏：\n\n{{$node[\"Webhook\"].json[\"body\"][\"poetry\"]}}\n\n分析要点包括：1. 主题思想 2. 艺术特色 3. 修辞手法 4. 历史背景 5. 文学价值",
        "options": {}
      },
      "name": "OpenAI",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        650,
        300
      ],
      "credentials": {
        "openAiApi": "your-api-key"
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        850,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {},
  "tags": [],
  "id": "123"
}